BasedOnStyle: Microsoft
BreakBeforeBraces: Attach
SpaceAfterTemplateKeyword: false
AccessModifierOffset: -4
AlwaysBreakAfterReturnType: None
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
DerivePointerAlignment: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeRangeBasedForLoopColon: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: false
BreakConstructorInitializers: BeforeColon